"$schema" = 'http://starship.rs/config-schema.json'

add_newline = false

format = """
$username\
$hostname\
$directory\
$git_branch\
$git_status\
$line_break\
$character"""

[username]
show_always = true
style_user = "bold yellow"
format = "[$user]($style) "

[hostname]
ssh_only = false
style = "bold green"
format = "[@$hostname]($style) "

[directory]
truncation_length = 3
truncation_symbol = "…/"
style = "bold blue"

[git_branch]
symbol = ""
style = "bold purple"
format = "[$symbol$branch]($style) "

[git_status]
style = "bold red"
conflicted = "="
ahead = "⇡${count}"
behind = "⇣${count}"
diverged = "⇕⇡${ahead_count}⇣${behind_count}"
untracked = "?${count}"
stashed = "$${count}"
modified = "!${count}"
staged = "+${count}"
renamed = "»${count}"
deleted = "✘${count}"

[character]
success_symbol = "[❯](bold green)"
error_symbol = "[❯](bold red)"
